

td, th {
    padding: 1rem;
    margin: 0;
    text-align: center;
    border: 1px solid black;
  }

  td{
    font-weight:bold;
  }
  
  table{
    width: auto;
    margin-bottom : 1rem;
    table-layout: fixed;
    text-align: center;
    border: 1px solid black;
  }
